p
{
    color:rgb(10, 14, 9)
}
u
{
    color: rgb(60, 150, 60);
    font-style:italic;
    font-size: large; 
}
#CV
{
    text-align: center;
    
}
#HEH
{
    color: black;
}
#ex
{
    text-indent: 40%;
    text-align: left;
}
